body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App{ 
background-color: #e5e5f7;
opacity: 0.8;
background-image: radial-gradient( ellipse farthest-corner at 10px 10px , #444cf7, #444cf7 50%, #e5e5f7 50%);
background-size: 10px 10px;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-panel{ 
  background: grey;
  width: 70%;
  min-height: 60vh;
  border-radius:30px;
  border: 10px solid black;
}
.volume-word{
  width: 90%;
  display: flex;
  background: #5A5b5c;
  justify-content: space-around;
  border-radius: 20px;
  margin: 10px auto;
  padding:5px;
  border: 5px solid black;
}
.word{
  background: #3A3b3c;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  color: white; 
  font-weight: bold;
  margin: 5px;
  width: 100px;
}

.volume-slider{
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #3A3b3c;
  width: 200px;
  border-radius: 20px;
  color : white;
  padding: 10px;
  margin: 5px;
  font-weight: bold;
}
.volume-slider>section>button{
  border: None;
  border-radius: 5px;
  padding: 5px 9px;
  background:teal;
  color: white;
  font-weight: bold;
}
.buttons{
  margin: 20px;
  padding: 20px;
  background: #3a3b3c;
  display: grid;
  grid-template: repeat(3, 1fr)/repeat(3,1fr);
  grid-gap: 20px;
  border-radius:10px ;
  justify-items: center;
  border: 5px solid black;
}
.button-sound{
  background-color:white ;
  width: 80px;
  height: 80px;
  border-radius: 10px;
  font-weight: bold;
  font-size: 1.3rem;
  box-shadow: 5px 5px 0 0 black;
  border:None;
  width: 90%;
}
.button-sound:hover{
  background: grey;
}
.button-sound:active{
  background: teal;
}
